<?xml version="1.0.1" encoding="utf-8"?>
<manifest
    package="com.myadridev.rememberall"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.myadridev.rememberall.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.myadridev.rememberall.activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="com.myadridev.rememberall.activities.MainActivity"/>
        <activity
            android:name="com.myadridev.rememberall.activities.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="com.myadridev.rememberall.activities.MainActivity"/>
        <activity
            android:name="com.myadridev.rememberall.activities.GroupsActivity"
            android:label="@string/title_groups"
            android:parentActivityName="com.myadridev.rememberall.activities.MainActivity"/>
        <activity
            android:name="com.myadridev.rememberall.activities.GroupDetailActivity"
            android:label="@string/title_group_detail"
            android:parentActivityName="com.myadridev.rememberall.activities.GroupsActivity"/>
        <activity
            android:name="com.myadridev.rememberall.activities.ReminderDetailActivity"
            android:label="@string/title_reminder_detail"
            android:parentActivityName="com.myadridev.rememberall.activities.GroupDetailActivity"/>

        <service
            android:name="com.myadridev.rememberall.services.AutoStartService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:enabled="true"/>

        <service
            android:name="com.myadridev.rememberall.services.ReminderJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name="com.myadridev.rememberall.services.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
