<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.adricom.remembrall.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.GroupsActivity"
            android:label="@string/title_groups"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.GroupDetailActivity"
            android:label="@string/title_group_detail"
            android:parentActivityName=".activities.GroupsActivity"/>
        <activity
            android:name=".activities.ReminderDetailActivity"
            android:label="@string/title_reminder_detail"
            android:parentActivityName=".activities.GroupDetailActivity"/>

        <service
            android:name=".services.AutoStartService"
            android:enabled="true"/>

        <service
            android:name=".services.ReminderJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name=".services.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
